# Ignore compiled binaries
*.o
*~
0-memset
0-memcpy
0-strcat
0-strncat
0-strncpy
0-strcmp
0-strncmp
0-strlen
*.out
a.out

# Ignore Betty folder if accidentally cloned
Betty/

# Ignore temporary editor files
*.swp
*.swo
*.bak

# Ignore other unwanted files
.DS_Store
